/* main */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
    list-style-type: none;
    
}

body {
    background-color: #e6ede4;
}



/* nav-bar */

.logo {
    background: url(./Images/images.jfif);
    opacity: 0.95;
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 3em;
}

.gun-list {
    
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}


.gun-items {
    text-decoration: underline;
    color: #4b6343;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.6em;
}

/* description section */

.description-section {
    height: 1000px;
    width: 80%;
    margin: 70px auto 0;
}

.description-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 50%;
}

.img-container {
    background-color: white;
    border: 1px solid gray;
    width: 700px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gun-image {
    width: 100%;
    object-fit: fill;

}

.description-bar {
    width: 300px;
    background-color: #d1dbcc;
    border-radius: 5px;
    overflow-y:auto;
}

.description-paragraph {
    font-size: 0.8em;
    padding: 18px 30px;
    line-height: 1.3rem;
    color: #2a3027;
}
/* table */

h2 {
    margin: 30px 0 40px 0;
    font-size: 1.9em;
    font-weight: normal;
}

.charasteristics {
    padding-inline-start: 0;
}

.charasteristics li {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.15em;
    color: #2a3027;
}

.charasteristics p, .charasteristics-data {
   display: inline-block;
   width: 50%;
}


.charasteristics-data {
    text-align: right;
    font-weight: normal;
}



