/* main */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
}

body {
    background-color: #e6ede4;
}

/* nav-bar */

.logo {
    background: url(./Images/images.jfif);
    opacity: 0.95;
    padding: 25px;
    text-align: center;
    color: white;
    font-size: 3em;
}

.gun-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}


.gun-items {
    text-decoration: underline;
    color: #4b6343;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.6em;
}

/* description section */

.description-section {
    margin-top: 70px;
    height: 80vh;
}

.description-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 90%;
}

.img-container {
    background-color: white;
    border: 1px solid gray;
    width: 700px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gun-image {
    width: 100%;
    object-fit: cover;

}

.description-bar {
    width: 300px;
    background-color: #b5c2a1;
    opacity: 0.5;
    border-radius: 5px;
}

.description-paragraph {
    color: #4b6343;
    font-size: 0.7em;
}
/* table */


