/* main */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
    list-style-type: none;
    
}

body {
    background-color: #e6ede4;
}

.bold {
    font-weight: bold;
}

/* nav-bar */
.header-logo {
    background: url(./Images/images.jfif);
    color: white;
    font-weight: bold;
    
}

header {
    display: unset;
}

.author {
    font-size: 0.6rem;
    font-weight: normal;
    position: absolute;
    top: 80px;
    right: 379px;
    color: white;
}

nav {
    z-index: 1;
    position: sticky;
    top: 0px;
    padding: 8px 0 10px 0;
    background-color: #e6ede4;
    border-bottom: 2px solid #bac7b3;
}

.logo {
    opacity: 0.95;
    padding: 25px;
    text-align: center;
    font-size: 3em;
}

.gun-list {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    
}

.gun-items {
    text-decoration: underline;
    color: #4b6343;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.6em;
}

.object {
    display: inline-block;
    background-color: #a4a89e;
    width: 220px;
    height: 52px;
    position: absolute;
    right: 0;
    top: 0;
}

/* balance */

.balance {
    font-size: 1rem;
    border: 5px solid white;
    position: fixed;
    top: 0px;
    z-index: 2;
    right: 0px;
    padding: 10px;
    color: white;
    height: 52px;
    width: 220px;
    text-align: center;
}

.price {
    font-weight: bold;
}

/* description section */

.description-section {
    height: 1100px;
    width: 80%;
    margin: 70px auto 0;
}

.description-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 50%;
}

.img-container {
    background-color: white;
    border: 1px solid gray;
    width: 700px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gun-image {
    width: 100%;
    object-fit: fill;
}

.description-bar {
    width: 300px;
    background-color: #d1dbcc;
    border-radius: 5px;
    overflow-y:auto;
    position: relative;
}

.description-paragraph {
    font-size: 0.8em;
    padding: 18px 30px;
    line-height: 1.3rem;
    color: #2a3027;
}

.buy-btn {
    background-color: #19330c;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1.2rem;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 460px;
    left: 50%;
    transform: translate(-50%,  -50%);
    cursor: pointer;
}

.inactive {
    background-color: grey;
    opacity: 0.7;
    cursor:not-allowed;
}

/* table */

h2 {
    margin: 30px 0 40px 0;
    font-size: 1.9em;
    font-weight: normal;
}

.charasteristics {
    padding-inline-start: 0;
}

.list {
    font-weight: bold;
    font-size: 1.15em;
    color: #2a3027;
}

.margin-top {
    margin-top: 23.3px;
}

.charasteristics p, .charasteristics-data {
    display: inline-block;
    width: 50%;
}



.charasteristics-data {
    text-align: right;  /* keep text aligned to the right */
    font-weight: normal;
    margin-left: auto;  /* push the data to the right */
}

/* footer */

footer {
    background: url(./Images/images.jfif);
    color: white;
    font-size: 0.8rem;
    text-align: center;
    padding: 20px 0;
}
